@import "tailwindcss";

:root {
  --background-color: #f5f5f5;
  --primary-color: #4A90E2;
  --accent-color: #FF9800;
  --text-color: #333333;
  --input-bg: #ffffff;
  --border-radius: 12px;
  --font-family: 'Segoe UI', sans-serif;
}

/* حالت تاریک */
/* .dark-theme {
  --background-color: #121212;
  --primary-color: #BB86FC;
  --accent-color: #03DAC6;
  --text-color: #eeeeee;
  --input-bg: #1f1f1f;
} */