@import "tailwindcss";

:root {
  --background-color: #f5f5f5;
  --primary-color: #4A90E2;
  --accent-color: #FF9800;
  --text-color: #333333;
  --input-bg: #ffffff;
  --border-radius: 12px;
  --font-family: 'Segoe UI', sans-serif;
}