@import "tailwindcss";

:root {
  --from-blue-300: #93c5fd;
  --via-purple-200: #e9d5ff;
  --to-pink-200: #fbcfe8;
  --login-bg-gradient: linear-gradient(to right, var(--from-blue-300), var(--via-purple-200,), var(--to-pink-200));
  --font-family: 'Segoe UI', sans-serif;
}


.bg-login-gradient {
  background: var(--login-bg-gradient);
}